[package]
name = "yellowstone-block-machine"
version = "0.1.0"
edition = "2024"

[features]
default = [
    "yellowstone-grpc",
]
yellowstone-grpc = [
    "dep:yellowstone-grpc-client",
]

[dependencies]
bytesize = "2"
bytesize-serde = "0.2"
derive_more = { version = "2", features = ["from", "into"] }
rustc-hash = "2.1.1"
serde = "1"
solana-sdk = "2"
thiserror = "2"
tracing = "~0.1.41"
tracing-subscriber = "~0.3.19"
yellowstone-grpc-client = { version = "6", optional = true }


[dev-dependencies]
tracing = { version = "0.1.41" }
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }